.LandingPageContainer{
    background-image: url('./../../assets/LandingPage-Movie.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title-landing{
    font-size: 40pt;
    font-family: Arial;
    font-weight: bold;
    display: flex;
    margin-bottom: 100px;
    
    
}



